<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Finsoft.Data" version="3.0.0.1" targetFramework="net452" />
  <package id="Finsoft.Evenue.Odi" version="2.10.1.1" targetFramework="net452" />
  <package id="Finsoft.Utilities" version="3.1.0.2" targetFramework="net452" />
  <package id="ICSharpCode.SharpZipLib" version="0.85.5.452" targetFramework="net452" />
  <package id="log4net" version="2.0.8" targetFramework="net452" />
  <package id="Oracle.ManagedDataAccess" version="19.9.0" targetFramework="net452" />
  <package id="PowerCollections" version="1.0.2141.24679" targetFramework="net452" />
</packages>